@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 67% 97%;
    --foreground: 240 10% 3.9%;
    --card: 240 50% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 50% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 330 100% 71%;
    --primary-foreground: 330 80% 10%;
    --secondary: 240 10% 92%;
    --secondary-foreground: 240 10% 9%;
    --muted: 240 10% 92%;
    --muted-foreground: 240 10% 45%;
    --accent: 340 100% 73%;
    --accent-foreground: 340 80% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 90%;
    --input: 240 10% 93%;
    --ring: 330 100% 71%;
    --chart-1: 330 100% 71%;
    --chart-2: 340 100% 73%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
    --sidebar-background: 240 67% 97%;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-primary: 330 100% 71%;
    --sidebar-primary-foreground: 330 80% 10%;
    --sidebar-accent: 340 100% 73%;
    --sidebar-accent-foreground: 340 80% 10%;
    --sidebar-border: 240 10% 90%;
    --sidebar-ring: 330 100% 71%;
  }
  .dark {
    --background: 240 10% 10%;
    --foreground: 0 0% 98%;
    --card: 240 4% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 4% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 330 100% 71%;
    --primary-foreground: 330 80% 10%;
    --secondary: 240 4% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 18%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 340 100% 73%;
    --accent-foreground: 340 80% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 18%;
    --input: 240 4% 18%;
    --ring: 330 100% 71%;
    --chart-1: 330 100% 71%;
    --chart-2: 340 100% 73%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 10% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 330 100% 71%;
    --sidebar-primary-foreground: 330 80% 10%;
    --sidebar-accent: 340 100% 73%;
    --sidebar-accent-foreground: 340 80% 10%;
    --sidebar-border: 240 4% 18%;
    --sidebar-ring: 330 100% 71%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
